html, body
{
	background-color: white;
	border: dotted 0.2px  var(--preset-border-color);
}


:root
{
	--preset-background-color: #333333;
	--preset-background-color1: #f7f7f7;
	--preset-hover-color1: #333333;
	--preset-hover-color2: #f1f1f1;
	--preset-hover-color3: #f5f5f5;
	--preset-hover-color3: #f8f8f8;
	--preset-hover-color5: #f3f3f3;
	/*active*/
	--preset-active-color1: #e2e2e2;
	--preset-border-color: #e0e0e0;
}




/*############## CONTEXT MENU ##############*/

.contextmenu-seperator
{
	background-color: var(--preset-border-color);
}

/*############## CONTEXT MENU ##############*/




/*############## SCROLL BAR ##############*/
::-webkit-scrollbar-track
{
  background-color: #fafafa;
}
::-webkit-scrollbar-thumb
{
  background-color: whitesmoke;
  border-left: solid 0.5px  var(--preset-border-color);
  border-bottom: solid 0.5px  var(--preset-border-color);
  border-top: solid 0.5px  var(--preset-border-color);
}
/*############## SCROLL BAR ##############*/




/*############## WINDOW ##############*/
.window-button:hover
{
	backdrop-filter: brightness(95%);
}
/*############## WINDOW ##############*/


/*############## ICON BUTTONS ##############*/
.icon-button-mx:hover
{
	background-color: #e9e9e9;
}
.icon-button-mx:active
{
	opacity: 50%;
}
/*############## ICON BUTTONS ##############*/


/*############## PRODUCT INPUT CONTEXTMENU ##############*/

.input-contextmenu-button
{
  color: gray;
}
.input-contextmenu-button:hover
{
  background-color: var(--preset-hover-color3);
}
.input-contextmenu-button:active
{
  background-color: var(--preset-active-color1);
}

/*############## PRODUCT INPUT CONTEXTMENU ##############*/


/*############## CONFIRMATION ##############*/
.confirmation-button
{
	backdrop-filter: brightness(97%);
	border: solid 0.5px var(--preset-border-color);
	color: gray;
}
.confirmation-button:hover
{
	background-color: #f1f1f1;
}
.confirmation-button:focus
{
  border-color: orange;
}

.price-key-button
{
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
	color: gray;
}
/*############## CONFIRMATION ##############*/


/*############## INCOME PRODUCT DETAIL ##############*/
.income-product-detail-button
{
	opacity: 60%;
}
.income-product-detail-button:hover
{
	opacity: 100%;
}
/*############## INCOME PRODUCT DETAIL ##############*/


/*############## PAGINATION ##############*/
.pagination-button
{
	border: solid 0.5px var(--preset-border-color);
	color: gray;
	background-color: white;
	border-style: dashed;
}
.pagination-button:focus
{
  border-bottom: dashed 1px orange;
}
/*############## PAGINATION ##############*/


/*############## CONTAINER STATUS BUTTON ##############*/
.container-status-buttons:hover
{
	color: #494949;
}
/*############## CONTAINER STATUS BUTTON ##############*/


/*############## NOTIFICATION ##############*/
.notification-button
{
	border: solid 0.5px var(--preset-border-color);
	background-color: #f8f8f8;
	color: gray;
}
.notification-button:hover
{
	background-color: var(--preset-hover-color2);
}
.notification-button:focus
{
	border: solid 0.5px orange;
}
/*############## NOTIFICATION ##############*/













/*############## NOTIFICATION CONTAINER ##############*/
#notification-title
{
	color: darkgray;
}
#notification-handler
{
	background-color: white;
	border: solid 0.5px #e1e1e1;
	box-shadow: #eeeeee 0px 0px 15px 1px;
}
#notification-article
{
	border: solid 0.5px var(--preset-border-color);
	color: gray;
	border-style: dashed;
	background-color: #f8f8f8;
}
/*############## NOTIFICATION CONTAINER ##############*/




/*##################### WINDOW CONTAINER #####################*/
#window-bar
{
	border-bottom: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color1);
}
window-button-canvas
{
	border-left: dotted 0.5px var(--preset-border-color);
}
#overview
{
	color: darkgray;
}
#tooltip-auto
{
	color: darkgray;
}
/*##################### WINDOW CONTAINER  #####################*/




/*##################### CONFIRMATION CONTAINER #####################*/

#income-confirmation-container
{
	border: solid 0.5px #e1e1e1;
	background-color: white;
	box-shadow: #eeeeee 0px 0px 10px 1px;
}
confirmation-box-title
{
	color: darkgray;
}
.confirmation-box
{
	border: solid 0.5px var(--preset-border-color);
	background-color: #f8f8f8;
	color: gray;
}
#confirmation-price
{
	color: rgb(247, 107, 89);
}
#confirmation-comment
{
	border: solid 0.5px var(--preset-border-color);
	background-color: #f8f8f8;
	color: gray;
}

/*##################### CONFIRMATION CONTAINER #####################*/





/*##################### MAIN MENU CONTAINER #####################*/

.context-arrow-title
{
	color: gray;
}


/*__________detail context menu__________*/
#file-menu-contextmenu
{
	border: solid #e6e6e6 0.5px;
	background-color: white;
	box-shadow: #eeeeee 0px 3px 5px 0px;
}

#edit-menu-contextmenu
{
	border: solid #e6e6e6 0.5px;
	background-color: white;
	box-shadow: #eeeeee 0px 3px 5px 0px;
}

#tools-menu-contextmenu
{
	border: solid #e6e6e6 0.5px;
	background-color: white;
	box-shadow: #eeeeee 0px 3px 5px 0px;
}
/*__________detail context menu__________*/



#product-input-label, #product-input-price
{
	color: gray;
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color1);
}
#restore, #input-contextmenu
{
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
	color: gray;
}
#input-contextmenu
{
	box-shadow: #eeeeee 0px 3px 5px 0px;
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
	color: gray;
}
#restore:hover
{
	background-color: #eeeeee;
}
#Y-seperator
{
	background-color: var(--preset-border-color);
}

/*##################### MAIN MENU CONTAINER #####################*/





/*##################### PRODUCT CONTAINER #####################*/

#option-canvas
{
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
	box-shadow: #eeeeee 2px 3px 5px 0px;
}

.product-menu-canvas
{
    border: solid 0.5px var(--preset-border-color);
    border-style: dashed;
	background-color: var(--preset-background-color1);
	box-shadow: #eeeeee 0px 3px 3px 0px;
}

#product-canvas
{
	border: solid 0.5px var(--preset-border-color);
	border-style: dashed;
	border-top: none;
	border-bottom: none;
}
.products
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color1);
}
.products:hover
{
	background-color: var(--preset-hover-color5);
}
.products:focus
{
  border-left: solid 0.5px orange;
  border-left-width: 2px; 
}

.products-label
{
	color: gray;
}
.products-price
{
	border: solid 0.5px var(--preset-border-color);
	color: rgb(247, 107, 89);
	background-color: white;
}

#product-currency-symbol
{
	color: darkgray;
}

/*___________FOLDER___________*/
.folder
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color1);
}
.folder:active
{
	border: solid 0.5px #994d00;
}

.folder-title
{
	color: gray;
}
/*___________FOLDER___________*/


/*___________STATUS___________*/
#product-status-container
{
	border: solid 0.5px var(--preset-border-color);
	border-style: dashed;
	box-shadow: #eeeeee 0px -3px 3px 0px;
}
/*___________STATUS___________*/

/*##################### PRODUCT CONTAINER #####################*/





/*##################### WORKBOARD CONTAINER #####################*/

#scheme-contextmenu
{
	border: solid #e6e6e6 0.5px;
	background-color: white;
	box-shadow: #eeeeee 2px 3px 5px 0px;
}


#workboard-pagination-canvas
{
	border: solid 0.5px var(--preset-border-color);
	border-style: dashed;
	background-color: var(--preset-background-color1);
	box-shadow: #eeeeee 0px 3px 3px 0px;
}



/*_____________________DISAPPROVED_____________________*/

.disapproved-income-block
{
	border: solid 0.5px var(--preset-border-color);
	backdrop-filter: brightness(97.5%);
	color: darkgray;
}

.disapproved-product-title
{
	color: gray;
}

.disapproved-product-price
{
	color: gray;
}

/*_____________________DISAPPROVED_____________________*/



/*__________INCOME PRODUCT__________*/
.stable-block
{
	border: solid 0.5px var(--preset-border-color);
	backdrop-filter: brightness(97.5%);
}
.stable-block:hover
{
	backdrop-filter: brightness(96%);
}
.stable-block:focus
{
  border-left: solid 0.5px orange;
  border-left-width: 2px; 
}

.stable-purchase-label
{
	border: solid 0.5px var(--preset-border-color);
	color: gray;
	background-color: white;
}
.stable-purchase-price
{
	border: solid 0.5px var(--preset-border-color);
	color: rgb(247, 107, 89);
	background-color: white;
}
.stable-purchase-comment
{
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
	color: gray;
}
.stable-purchase-time
{
	border: solid 0.5px var(--preset-border-color);
	color: gray;
	background-color: white;
}
/*__________INCOME PRODUCT__________*/



/* ________________ workboard canvas ________________ */

#workboard-canvas
{
	border: solid 0.5px var(--preset-border-color);
	border-style: dashed;
	border-top: none;
	border-bottom: none;
}

/* ________________ workboard canvas ________________ */



/*___________STATUS___________*/
#workboard-status-container
{
	border: solid 0.5px var(--preset-border-color);
	border-style: dashed;
	box-shadow: #eeeeee 0px -3px 3px 0px;
}
/*___________STATUS___________*/

/*##################### WORKBOARD CONTAINER #####################*/





/*##################### TEAM PROFILE #####################*/

.profile-creation-container
{
	border-radius: var(--preset-border-radius);
	box-shadow: #eeeeee 0px 0px 10px 1px;
	background-color: whitesmoke;
	border: solid 0.5px var(--preset-border-color);
}

.profile-input
{
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
	color: gray;
}
.profile-input:focus
{
  border: solid 0.5px orange;
}

/*_____________javascript created block_____________*/

#profile-block
{
	border: solid 0.5px var(--preset-border-color);
	border-radius: var(--preset-border-radius);
	backdrop-filter: brightness(97.5%);
}
#profile-block:hover
{
	backdrop-filter: brightness(96%);
}



.user-name, .user-lastname, .user-birth, .user-id, .user-position
{
  color: gray;
}



.user-name
{
	border-radius: var(--preset-border-radius);
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
}

.user-lastname
{
	border-radius: var(--preset-border-radius);
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
}

.user-birth
{
	border-radius: var(--preset-border-radius);
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
}

.user-id
{
	border-radius: var(--preset-border-radius);
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
}

.user-position
{
	border-radius: var(--preset-border-radius);
	border: solid 0.5px var(--preset-border-color);
	background-color: white;
}
/*_____________javascript created block_____________*/




/*team menu buttons*/
profile-button-container
{
	border: none;
	border-bottom: dashed 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color1);
	box-shadow: #eeeeee 0px 3px 3px 0px;
}
/*##################### TEAM PROFILE #####################*/





/*##################### STATUS CONTAINER #####################*/
#status-container
{
	border-top: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color1);
}


#products-counter
{
	background-color: white;
	border: solid 0.5px #d9d9d9;
	color: gray;
}


.status-title-button
{
	color: #606060;
}


process-notification-container
{
	background-color: white;
	border: solid 0.5px #e1e1e1;
	box-shadow: #eeeeee 0px 0px 5px 1px;
	color: gray;
	background-color: #ffffff;
}
process-notification-container:hover
{
	background-color: whitesmoke;
}


#process-title
{
	color: darkgray;
}


/*__________NOTIFICATION LIST__________*/

#notification-list-parent
{
	border: solid 0.5px var(--preset-border-color);
	box-shadow: #eeeeee 0px 0px 10px 1px;
	background-color: white;
}

#notification-menu-container
{
	background-color: #f8f8f8;
	border-bottom: solid 0.5px var(--preset-border-color);
	box-shadow: #eeeeee 0px 0px 2px 3px;
}

.notification-alert
{
	border: solid 0.5px var(--preset-border-color);
	backdrop-filter: brightness(97.5%);
}
.notification-alert:hover
{
	backdrop-filter: brightness(96%);
}

.notification-alert-title
{
	color: gray;
	border-bottom: solid 0.5px var(--preset-border-color);
}

.notification-list-text
{
	color: gray;
}

/*__________NOTIFICATION LIST__________*/

/*##################### STATUS CONTAINER #####################*/