html, body
{
	background-color: var(--preset-background-color);
	border: dotted 0.2px  var(--preset-border-color);
}



:root
{
	--preset-background-color: #333333;
	--preset-background-color-shadow: #303030;
	--preset-background-color-contextmenu: #383838;
	--preset-hover-color1: #323232;
	--preset-hover-color2: #191919;
	--preset-border-color: #292929;
}




/*############## CONTEXT MENU ##############*/

.contextmenu-seperator
{
	background-color: #282828;
}

/*############## CONTEXT MENU ##############*/





/*##################### SCROLL BAR #####################*/
::-webkit-scrollbar-track
{
  background-color: #313131;
}
::-webkit-scrollbar-thumb
{
  background-color: #404040;
  border-left: solid 0.5px  var(--preset-border-color);
  border-bottom: solid 0.5px  var(--preset-border-color);
  border-top: solid 0.5px  var(--preset-border-color);
}
::-webkit-scrollbar-thumb:hover
{
	background-color: #454545;
}
::-webkit-scrollbar-thumb:active
{
	border: solid 0.5px  #994d00;
}
/*##################### SCROLL BAR #####################*/


/*##################### WINDOW #####################*/
.window-button
{
	filter: brightness(170%);
}
.window-button:hover
{
	backdrop-filter: brightness(54%)
}
/*##################### WINDOW #####################*/


/*##################### ICON BUTTONS #####################*/
.icon-button-mx
{
	filter: brightness(170%);
}
.icon-button-mx:hover
{
	background-color: var(--preset-hover-color2);
}

.icon-button-mx:active
{
	opacity: 50%;
}
/*##################### ICON BUTTONS #####################*/


/*##################### INPUT CONTEXTMENU #####################*/

#input-contextmenu
{
	box-shadow: #292929 0px 3px 5px 0px;
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color-contextmenu);
	color: darkgray;
}
.input-contextmenu-button
{
	color: darkgray;
}
.input-contextmenu-button:hover
{
	background-color: var(--preset-hover-color1);
}
.input-contextmenu-button:active
{
	backdrop-filter: brightness(90%);
}
/*##################### INPUT CONTEXTMENU #####################*/


/*##################### INCOME PRODUCT DETAIL BUTTON #####################*/
.income-product-detail-button
{
	filter: brightness(130%);
}
.income-product-detail-button:hover
{
	filter: brightness(190%);
}
/*##################### INCOME PRODUCT DETAIL BUTTON #####################*/


/*##################### CONFIRMATION #####################*/
.confirmation-button
{
	border: solid 0.5px var(--preset-border-color);
	background-color: #313131;
	color: darkgray;
}
.confirmation-button:hover
{
	background-color: #2e2e2e;
}
.confirmation-button:focus
{
  	border-color: #994d00;
}

.price-key-button
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
	color: darkgray;
}
/*##################### CONFIRMATION #####################*/


/*##################### PAGINATION #####################*/
.pagination-button
{
	border: dashed 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
	color: darkgray;
}
.pagination-button:focus
{
  border-bottom: dashed 1px #994d00;
}
/*##################### PAGINATION #####################*/


/*############## CONTAINER STATUS BUTTON ##############*/
.container-status-buttons:hover
{
	color: darkgray;
}
/*############## CONTAINER STATUS BUTTON ##############*/


/*##################### NOTIFICATION #####################*/

.notification-button
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
	color: darkgray;
}
.notification-button:hover
{
	background-color: #2e2e2e;
}
.notification-button:focus
{
	border: solid 0.5px #994d00;
}
/*##################### NOTIFICATION #####################*/









/*##################### NOTIFICATION CONTAINER #####################*/

#notification-title
{
	color: gray;
}
#notification-handler
{
	background-color: var(--preset-background-color);
	border: solid 0.5px var(--preset-border-color);
	box-shadow: #292929 0px 0px 15px 1px;
}

#notification-article
{
	border: solid 0.5px var(--preset-border-color);
	color: darkgray;
	border-style: dashed;
	background-color: #313131;
}

/*##################### NOTIFICATION CONTAINER #####################*/




/*##################### WINDOW CONTAINER #####################*/

#window-bar
{
	border-bottom: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color-shadow);
}
window-button-canvas
{
	border-left: dotted 0.5px #282828;
}
#tooltip-auto
{
	color: darkgray;
}
#overview
{
	color: darkgray;
}

/*##################### WINDOW CONTAINER #####################*/




/*##################### MAIN MENU CONTAINER #####################*/

#mainmenu-canvas
{
	border-bottom: solid 0.5px var(--preset-border-color);
}
.context-arrow-title
{
	color: darkgray;
}



/*__________detail context menu__________*/

#file-menu-contextmenu
{
	border: solid #292929 0.5px;
	background-color: var(--preset-background-color-contextmenu);
	box-shadow: #292929 0px 3px 5px 0px;
}

#edit-menu-contextmenu
{
	border: solid #292929 0.5px;
	background-color: var(--preset-background-color-contextmenu);
	box-shadow: #292929 0px 3px 5px 0px;
}

#tools-menu-contextmenu
{
	border: solid #292929 0.5px;
	background-color: var(--preset-background-color-contextmenu);
	box-shadow: #292929 0px 3px 5px 0px;
}

/*__________detail context menu__________*/




/*___________PRODUCT INPUT___________*/

#product-input-label, #product-input-price
{
	color: darkgray;
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color-shadow);
}
#restore
{
	filter: brightness(170%);
}
#restore:hover
{
	background-color: var(--preset-hover-color2);
}
#Y-seperator
{
	background-color: #282828;
}

/*___________PRODUCT INPUT___________*/

/*##################### MAIN MENU CONTAINER #####################*/





/*##################### CONFIRMATION CONTAINER #####################*/

#income-confirmation-container
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
	box-shadow: #303030 0px 0px 5px 1px;
}
confirmation-box-title
{
	color: gray;
}
.confirmation-box
{
	border: solid 0.5px var(--preset-border-color);
	background-color: #313131;
	color: darkgray;
}
#confirmation-price
{

}
#confirmation-comment
{
	border: solid 0.5px var(--preset-border-color);
	background-color: #313131;
	color: darkgray;
}

/*##################### CONFIRMATION CONTAINER #####################*/













/*##################### PRODUCT CONTAINER #####################*/

#option-canvas
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color-contextmenu);
	box-shadow: #292929 0px 3px 5px 0px;
}

.product-menu-canvas
{
    border-bottom: none;
    border: solid 0.5px var(--preset-border-color);
    border-style: dashed;
	background-color: var(--preset-background-color-shadow);
	box-shadow: #303030 0px 3px 3px 0px;
}
#product-canvas
{
	border: solid 0.5px var(--preset-border-color);
	border-style: dashed;
	border-top: none;
	border-bottom: none;
}

.products
{
	border: solid 0.5px var(--preset-border-color);
	backdrop-filter: brightness(95%);
}
.products:hover
{
	backdrop-filter: brightness(92%);
}
.products:focus
{
	border-left: solid 0.5px #994d00;
	border-left-width: 2px; 
}

.products-label
{
	color: darkgray;
}
.products-price
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
}

#product-currency-symbol
{
	color: gray;
}

/*___________FOLDER___________*/
.folder
{
	border: solid 0.5px var(--preset-border-color);
	backdrop-filter: brightness(95%);
}
.folder:active
{
  border: solid 0.5px #994d00;
}

.folder-title
{
	color: darkgray;
}
.folder-title:focus
{
  border-radius: 3px;
  color: #994d00;
}
/*___________FOLDER___________*/


/*___________STATUS___________*/
#product-status-container
{
	border: solid 0.5px var(--preset-border-color);
	border-style: dashed;
	box-shadow: #303030 0px -3px 3px 0px;
}
/*___________STATUS___________*/

/*##################### PRODUCT CONTAINER #####################*/




/*##################### WORKBOARD CONTAINER #####################*/

#scheme-contextmenu
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color-contextmenu);
	box-shadow: #292929 1px 2px 5px 0px;
}

#workboard-pagination-canvas
{
	border: solid 0.5px var(--preset-border-color);
	border-style: dashed;
	background-color: var(--preset-background-color-shadow);
	box-shadow: #303030 0px 3px 3px 0px;
}




/*CONTEXT MENU*/
#income-context-menu
{
  border: solid 0.5px var(--preset-border-color);
  background-color: var(--preset-background-color-contextmenu);
  border-radius: 3px;
  box-shadow: #292929 0px 0px 5px 0px;
}




/*_____________________DISAPPROVED_____________________*/

.disapproved-income-block
{
	border: solid 0.5px var(--preset-border-color);
	backdrop-filter: brightness(95%);
	color: gray;
}

.disapproved-product-title
{
	color: darkgray;
}

.disapproved-product-price
{
	color: darkgray;
}

/*_____________________DISAPPROVED_____________________*/





/*__________INCOME PRODUCT__________*/
.stable-block
{
	border: solid 0.5px var(--preset-border-color);
	backdrop-filter: brightness(95%);
}
.stable-block:hover
{
	backdrop-filter: brightness(92%);
}
.stable-block:focus
{
	border-left: solid 0.5px #994d00;
	border-left-width: 2px; 
}

#block-counter-title
{
	color: darkgray;
	z-index: 99;
}
.stable-purchase-label
{
	border: solid 0.5px var(--preset-border-color);
	color: darkgray;
	background-color: var(--preset-background-color);
}
.stable-purchase-price
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
}
.stable-purchase-comment
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
	color: gray;
}
.stable-purchase-time
{
	border: solid 0.5px var(--preset-border-color);
	color: gray;
	background-color: var(--preset-background-color);
}
/*__________INCOME PRODUCT__________*/



/* ________________ workboard canvas ________________ */

#workboard-canvas
{
	border: solid 0.5px var(--preset-border-color);
	border-style: dashed;
	border-top: none;
	border-bottom: none;
}

/* ________________ workboard canvas ________________ */



/*___________STATUS___________*/
#workboard-status-container
{
	border: solid 0.5px var(--preset-border-color);
	border-style: dashed;
	box-shadow: #303030 0px -3px 3px 0px;
}
/*___________STATUS___________*/

/*##################### WORKBOARD CONTAINER #####################*/





/*##################### TEAM PROFILE #####################*/

.profile-creation-container
{
	border-radius: var(--preset-border-radius);
	box-shadow: #303030 0px 0px 10px 1px;
	background-color: var(--preset-background-color);
	border: solid 0.5px var(--preset-border-color);
}

.profile-input
{
	border: solid 0.5px var(--preset-border-color);
	backdrop-filter: brightness(92%);
	color: darkgray;
}
.profile-input:focus
{
  border: solid 0.5px #994d00;
}



/*_____________javascript created block_____________*/

#profile-block
{
	border: solid 0.5px var(--preset-border-color);
	border-radius: var(--preset-border-radius);
	backdrop-filter: brightness(95%);
}
#profile-block:hover
{
	backdrop-filter: brightness(92%);
}



.user-name, .user-lastname, .user-birth, .user-id, .user-position
{
  color: darkgray;
}



.user-name
{
	border-radius: var(--preset-border-radius);
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
}

.user-lastname
{
	border-radius: var(--preset-border-radius);
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
}

.user-birth
{
	border-radius: var(--preset-border-radius);
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
}

.user-id
{
	border-radius: var(--preset-border-radius);
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
}

.user-position
{
	border-radius: var(--preset-border-radius);
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
}
/*_____________javascript created block_____________*/



/*team menu buttons*/
profile-button-container
{
	border: none;
	border-bottom: dashed 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color-shadow);
	box-shadow: #303030 0px 3px 3px 0px;
}

/*##################### TEAM PROFILE #####################*/



/*##################### STATUS CONTAINER #####################*/

#status-container
{
	border-top: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color-shadow);
}


.status-tab
{
	color: rgb(247, 107, 89);
	background-color: var(--preset-background-color);
	border: solid 0.5px var(--preset-border-color);
	color: darkgray;
}


.status-title-button
{
	color: #606060;
}


process-notification-container
{
	backdrop-filter: brightness(94%);
	border: solid 0.5px var(--preset-border-color);
	box-shadow: #303030 0px 0px 10px 1px;
	color: darkgray;
	background-color: var(--preset-background-color);
}
process-notification-container:hover
{
	backdrop-filter: brightness(100%);
}


#process-title
{
	color: gray;
}


/*__________NOTIFICATION LIST__________*/

#notification-list-parent
{
	border: solid 0.5px var(--preset-border-color);
	box-shadow: #303030 0px 0px 10px 1px;
	background-color: var(--preset-background-color-contextmenu);
}

#notification-menu-container
{
	background-color: var(--preset-background-color);
	border-bottom: solid 0.5px var(--preset-border-color);
	box-shadow: #303030 0px 0px 2px 3px;
}

.notification-alert
{
	border: solid 0.5px var(--preset-border-color);
	background-color: var(--preset-background-color);
}
.notification-alert:hover
{
	background-color: #303030;
}

.notification-alert-title
{
	color: gray;
	border-bottom: solid 0.5px var(--preset-border-color);
}

.notification-list-text
{
	color: gray;
}

/*__________NOTIFICATION LIST__________*/

/*##################### STATUS CONTAINER #####################*/